# IMDB like movie recommender

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('./movies_metadata.csv')

/home/shivarajapple/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Steps to Build a Recommender System
- #### Choose a metric to rate the movies on
- #### Decide on the prerequisites for the movie to be featured on the chart
- #### Calculate the score for every movie that satisfies the condition
- #### Output the list of movies in decreasing order of their scores

## Metric
The metric is a numerical measure on the basis of which we can rank movies. A movie is considered to be better than another movie if it has a higher metric score than the other movies. It is very important that we have a robust and a reliable metric to build our chart upon to ensure a good quality of recommendation

One of the simplest metrics that can be used is the movie ratings. But, it suffers from many disadvantages. 
- The movie rating does'nt take into consideration, the popularity of the movie
> Therefore, a movie rated  9 by 1000000 usrs will be placed below a movie rated 9.5 by 100 users. This is not desirable as it is highly likely that a movie watched and rated by only 100 people caters to a very specific niche.
> It is also a well known fact that as the number of voters increases the ratings for a movie normalizes and reaches a value that is reflective of the movie's quality and popularity with general populace.

- Therefore, we need a metric that can, to some extent, take into consideration the movie rating and the number of votes it has garnered.

- We shall use IMDB's weighted rating formula as our metric.

$$ Value= \frac{v * R}{v+m} + \frac{m * C}{v+m} $$

Where 
- v is the number of votes garnered by the movie
- m is the minimum number of votes required for the movie to be in the chart (popularity in this case)
- R is the mean rating of the movie
- C is the mean rating of all the movies in the dataset

We have all the pieces of the puzzle now. v- included in the dataset. m- We can experiment with different values here I am going to choose the 80th percentile. Which basically means that my movie should have garnered more votes than 80% of the movies present in the dataset.

In [34]:
m=df['vote_count'].quantile(0.98)

In [35]:
m

1236.8199999999997

From the above rating we can see that only 20% of all movies have gained more than 50 votes. Therefore, our value of m is 50. Another prerequisite that we want in place is the runtime. We will only consider movies that are greater than 45 minutes and less than 300 minutes in length.

In [36]:
q_movies=df[(df['runtime']>=45) & (df['runtime']<=300) ]

In [37]:
len(q_movies)

41930

Now, lets find the value of c. That is the mean rating for all the movies in the dataset.

In [38]:
C=df['vote_average'].mean()

In [39]:
C

5.618207215133889

We can see that the average rating for all movie in this dataset is 5.6

Now, lets go ahead and define our method that calculates the score for us , given the values of v, R, m and C

In [40]:
def weighted_rating(x, m=m, C=C):
    v=x['vote_count']
    R=x['vote_average']
    return (v/(v+m) * R)+(m/(m+v)*C)

Now, we can go ahead and apply this method to our dataset

In [41]:
q_movies['score']=q_movies.apply(weighted_rating, axis=1)

/home/shivarajapple/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
len(q_movies)

41930

In [47]:
q_movies.sort_values('score', ascending=False)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
314,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,...,2.834147e+07,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.5,8358.0,8.128523
12481,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,False,8.3,12269.0,8.054410
834,False,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",...,2.450664e+08,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,The Godfather,False,8.5,6024.0,8.009111
2843,False,NaN,63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,550,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,...,1.008538e+08,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0,7.996111
292,False,NaN,8000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,680,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",...,2.139288e+08,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Just because you are a character doesn't mean ...,Pulp Fiction,False,8.3,8670.0,7.965191
15480,False,NaN,160000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://inceptionmovie.warnerbros.com/,27205,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",...,8.255328e+08,148.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your mind is the scene of the crime.,Inception,False,8.1,14075.0,7.899532
351,False,NaN,55000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,13,tt0109830,en,Forrest Gump,A man with a low IQ has accomplished great thi...,...,6.779454e+08,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The world will never be the same, once you've ...",Forrest Gump,False,8.2,8147.0,7.859711
22879,False,NaN,165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.interstellarmovie.net/,157336,tt0816692,en,Interstellar,Interstellar chronicles the adventures of a gr...,...,6.751200e+08,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mankind was born on Earth. It was never meant ...,Interstellar,False,8.1,11187.0,7.852932
7000,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",94000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net,122,tt0167260,en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,...,1.118889e+09,201.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The eye of the enemy is moving.,The Lord of the Rings: The Return of the King,False,8.1,8226.0,7.775622
1154,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",18000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,1891,tt0080684,en,The Empire Strikes Back,"The epic saga continues as Luke Skywalker, in ...",...,5.384000e+08,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Adventure Continues...,The Empire Strikes Back,False,8.2,5998.0,7.758633
18465,False,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,77338,tt1675434,fr,Intouchables,A true story of two men who should never have ...,...,4.264809e+08,112.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Sometimes you have to reach into someone else'...,The Intouchables,False,8.2,5410.0,7.719588
256,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,...,7.753980e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0,7.717018
522,False,NaN,22000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.schindlerslist.com/,424,tt0108052,en,Schindler's List,The true story of how businessman Oskar Schind...,...,3.213656e+08,195.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,"Whoever saves one life, saves the world entire.",Schindler's List,False,8.3,4436.0,7.715301
4863,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",93000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,120,tt0120737,en,The Lord of the Rings: The Fellowship of the Ring,"Young hobbit Frodo Baggins, after inheriting a...",...,8.713684e+08,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One ring to rule them all,The Lord of the Rings: The Fellowship of the Ring,False,8.0,8892.0,7.709162
23673,False,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,244786,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",...,1.309200e+07,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,False,8.3,4376.0,7.709050
46,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,3.273119e+08,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915.0,7.670804
5814,False,"{'id': 119, 'name': 'The Lord of the Rings Col...",79000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.lordoftherings.net/,121,tt0167261,en,The Lord of the Rings: The Two Towers,Frodo and Sam are trekking to Mordor to destro...,...,9.262874e+08,179.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Power Is Rising.,The Lord of the Rings: The Two Towers,False,8.0,7641.0,7.668179
5481,False,NaN,15000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",http://movies.disney.com/spirited-away,129,tt0245429,ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,...,2.749251e+08,125.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,False,8.3,3968.0,7.662726
23753,False,"{'id': 284433, 'name': 'Guardians of the Galax...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://marvel.com/guardians,118340,tt2015381,en,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",...,7.733286e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All heroes start somewhere.,Guardians of the Galaxy,False,7.9,10014.0,7.649159
2458,False,"{'id': 2344, 'name': 'The Matrix Collection', ...",63000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.warnerbros.com/matrix,603,tt0133093,en,The Matrix,"Set in the 22nd century, The Matrix tells the ...",...,4.635174e+08,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the Real World.,The Matrix,False,7.9,9079.0,7.626423
289,False,NaN,16000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,101,tt0110413,fr,Léon,"Leon, the top hit man in New York, has earned ...",...,4.528497e+07,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If you want a job done well, hire a professional.",Leon: The Professional,False,8.2,4293.0,7.622547
2211,False,NaN,20000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,637,tt0118799,it,La vita è bella,A touching story of an Italian book seller of ...,...,2.294000e+08,116.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"An unforgettable fable that proves love, famil...",Life Is Beautiful,False,8.3,3643.0,7.620283
3030,False,NaN,60000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",http://thegreenmile.warnerbros.com/,497,tt0120689,en,The Green Mile,A supernatural tale set on death row in a Sout...,...,2.846000e+08,189.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,Miracles do happen.,The Green Mile,False,8.2,4166.0,7.608973
1225,False,"{'id': 264, 'name': 'Back to the Future Collec...",19000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",http://www.backtothefuture.com/movies/backtoth...,105,tt0088763,en,Back to the Future,Eighties teenager Marty McFly is accidentally ...,...,3.811098e+08,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's the only kid ever to get into trouble bef...,Back to the Future,False,8.0,6239.0,7.605950
1178,False,"{'id': 230, 'name': 'The Godfather Collection'...",13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,240,tt0071562,en,The Godfather: Part II,In the continuing saga of the Corleone crime f...,...,4.754284e+07,200.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"I don't feel I have to wipe everybody out, Tom...",The Godfather: Part II,False,8.3,3418.0,7.587428
24860,False,NaN,14000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",http://theimitationgamemovie.com/,205596,tt2084970,en,The Imitation Game,Based on the real life story of legendary cryp...,...,2.335557e+08,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The true enigma was the man who cracked the code.,The Imitation Game,False,8.0,5895.0,7.586943
586,False,"{'id': 9743, 'name': 'The Hannibal Lecter Anth...",19000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,274,tt0102926,en,The Silence of the Lambs,"FBI trainee, Clarice Starling ventures into a ...",...,2.727429e+08,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,To enter the mind of a killer she must challen...,The Silence of the Lambs,False,8.1,4549.0,7.569473
20051,False,NaN,100000000,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",http://unchainedmovie.com/,68718,tt1853728,en,Django Unchained,"With the help of a German bounty hunter, a fre...",...,4.253682e+08,165.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Life, liberty and the pursuit of vengeance.",Django Unchained,False,7.8,10297.0,7.566037
359,False,"{'id': 94032, 'name': 'The Lion King Collectio...",45000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",http://movies.disney.com/the-lion-king,8587,tt0110357,en,The Lion King,A young lion cub named Simba can't wait to be ...,...,7.882418e+08,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life's greatest adventure is finding your plac...,The Lion King,False,8.0,5520.0,7.564018
22131,False,NaN,100000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://www.thewolfofwallstreet.com/,106646,tt0993846,en,The Wolf of Wall Street,A New York stockbroker refuses to cooperate in...,...,3.920007e+08,180.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,EARN. SPEND. PARTY.,The Wolf of Wall Street,False,7.9,6768.0,7.547442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,False,"{'id': 261203, 'name': 'Street Fighter', 'post...",35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,11667,tt0111301,en,Street Fighter,Col. Guile and various other martial arts hero...,...,9.942352e+07,102.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The fight to save the world is on!,Street Fighter,False,4.1,330.0,5.298446
24438,False,"{'id': 426103, 'name': 'Ouija Collection', 'po...",5000000,"[{'id': 27, 'name': 'Horror'}]",NaN,242512,tt1204977,en,Ouija,A group of friends must confront their most te...,...,1.035903e+08,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Keep telling yourself it's just a game,Ouija,False,4.9,1006.0,5.296061
3998,False,"{'id': 2366, 'name': 'The Jaws Collection', 'p...",23000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 53, '...",NaN,580,tt0093300,en,Jaws: The Revenge,"After another deadly shark attack, Ellen Brody...",...,5.188101e+07,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"This time, it’s personal.",Jaws: The Revenge,False,3.5,227.0,5.289729
6019,False,NaN,78000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",http://marvel.com/movies/movie/12/daredevil,9480,tt0287978,en,Daredevil,"He dwells in a world of eternal night, but the...",...,1.791797e+08,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Guardian Devil,Daredevil,False,5.0,1551.0,5.274268
20598,False,NaN,5000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.springbreakersmovie.com/,122081,tt2101441,en,Spring Breakers,After four college girls rob a restaurant to f...,...,3.172428e+07,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little sun can bring out your dark side.,Spring Breakers,False,5.0,1580.0,5.271445
17272,False,NaN,200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://greenlanternmovie.warnerbros.com/,44912,tt1133985,en,Green Lantern,"For centuries, a small but powerful force of w...",...,2.198512e+08,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In our darkest hour, there will be light.",Green Lantern,False,5.1,2551.0,5.269208
11229,False,NaN,40000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",NaN,9708,tt0450345,en,The Wicker Man,A sheriff investigating the disappearance of a...,...,3.875507e+07,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some sacrifices must be made,The Wicker Man,False,4.0,355.0,5.257322
35220,False,"{'id': 352789, 'name': 'Zoolander Collection',...",50000000,"[{'id': 35, 'name': 'Comedy'}]",http://www.zoolander.com/,329833,tt1608290,en,Zoolander 2,Derek and Hansel are modelling again when an o...,...,5.596900e+07,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Long time no Z,Zoolander 2,False,4.7,814.0,5.253758
23110,False,NaN,70000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,188207,tt1043726,en,The Legend of Hercules,"In Ancient Greece 1200 B.C., a queen succumbs ...",...,6.127945e+07,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Every Man Has a Destiny,The Legend of Hercules,False,4.4,542.0,5.247024
42096,False,"{'id': 14563, 'name': 'The Ring Collection', '...",25000000,"[{'id': 27, 'name': 'Horror'}]",http://www.ringsmovie.com/,14564,tt0498381,en,Rings,"Julia becomes worried about her boyfriend, Hol...",...,8.308089e+07,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Evil is reborn.,Rings,False,4.8,1075.0,5.237740
1486,False,"{'id': 43064, 'name': 'Speed Collection', 'pos...",160000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1639,tt0120179,en,Speed 2: Cruise Control,Sandra Bullock and Jason Patric star as a youn...,...,1.645081e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"As the stakes get higher, the ride gets even f...",Speed 2: Cruise Control,False,4.1,439.0,5.220496
20791,False,"{'id': 4246, 'name': 'Scary Movie Collection',...",20000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,4258,tt0795461,en,Scary Movie 5,"Home with their newly-formed family, happy par...",...,7.837874e+07,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Evil is coming. Bring protection.,Scary Movie 5,False,4.6,813.0,5.214366
21018,False,NaN,130000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,82700,tt1815862,en,After Earth,One thousand years after cataclysmic events fo...,...,2.438431e+08,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Danger is real, fear is a choice",After Earth,False,5.0,2579.0,5.200379
12358,False,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}]",http://www.meetthespartans.com/,7278,tt1073498,en,Meet the Spartans,From the creators of Scary Movie and Date Movi...,...,8.464683e+07,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The Bigger the Hit, The Harder They Fall",Meet the Spartans,False,3.8,370.0,5.199531
12911,False,NaN,25000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.disastermovie.net/,13805,tt1213644,en,Disaster Movie,"In DISASTER MOVIE, the filmmaking team behind ...",...,1.410928e+07,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your favorite movies are going to be destroyed.,Disaster Movie,False,3.1,250.0,5.194786
9710,False,"{'id': 43072, 'name': 'The Mask Collection', '...",84000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,10214,tt0362165,en,Son of the Mask,"Tim Avery, an aspiring cartoonist, finds himse...",...,0.000000e+00,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who's next?,Son of the Mask,False,3.6,346.0,5.177033
20314,False,NaN,6000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,87818,tt1333125,en,Movie 43,The film is composed of multiple comedy shorts...,...,3.243899e+07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The biggest cast ever assembled for the most o...,Movie 43,False,4.5,816.0,5.173718
18609,False,"{'id': 90306, 'name': 'Ghost Rider Collection'...",57000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",http://www.thespiritofvengeance.com/,71676,tt1071875,en,Ghost Rider: Spirit of Vengeance,When the devil resurfaces with aims to take ov...,...,1.492174e+08,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He Rides Again.,Ghost Rider: Spirit of Vengeance,False,4.7,1163.0,5.173226
15422,False,NaN,150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.thelastairbendermovie.com/,10196,tt0938283,en,The Last Airbender,"The story follows the adventures of Aang, a yo...",...,3.185029e+08,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Four nations, one destiny",The Last Airbender,False,4.7,1180.0,5.169897
3471,False,NaN,44000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,5491,tt0185183,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",...,2.140000e+07,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Take Back The Planet,Battlefield Earth,False,3.0,259.0,5.164867
24413,False,NaN,16000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.leftbehindmovie.com/,218043,tt2467046,en,Left Behind,A small group of survivors are left behind aft...,...,1.968292e+07,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The End Begins,Left Behind,False,3.7,396.0,5.152994
30556,False,"{'id': 304378, 'name': 'Independence Day Colle...",165000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.warof1996.com,47933,tt1628841,en,Independence Day: Resurgence,We always knew they were coming back. Using re...,...,3.896819e+08,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We had twenty years to prepare. So did they.,Independence Day: Resurgence,False,4.9,2550.0,5.134575
21238,False,"{'id': 286023, 'name': 'Sharknado Collection',...",1000000,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 27,...",http://www.theasylum.cc/product.php?id=230,205321,tt2724064,en,Sharknado,"A freak hurricane hits Los Angeles, causing ma...",...,0.000000e+00,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Enough said!,Sharknado,False,3.8,484.0,5.106816
11557,False,NaN,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9760,tt0799949,en,Epic Movie,"When Edward, Peter, Lucy and Susan each follow...",...,8.686556e+07,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We know it's big. We measured.,Epic Movie,False,3.2,334.0,5.104029